/* General */
* {
    font-family: "BankGothic", sans-serif;
    font-size: 16px;
}

html, body, div#root, div.App {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4F4F4F;
}

@font-face {
    font-family: 'BankGothic';
    src: url("fonts/BankGothic Regular.ttf");
}
@font-face {
    font-family: 'Aurebesh';
    src: url("fonts/Aurebesh.ttf");
}
@font-face {
    font-family: 'OldRepublic';
    src: url("fonts/Old_R.ttf");
}

/* Gameboard */
div.gameboard {
    display: flex;
    flex-flow: row;
    margin: 0.5em;
    padding: 0.5em;
    height: 65%;
    background-color: #9B9B9B;
    border: 2px solid #4F4F4F;
    box-shadow: inset 0 0 9px 5px rgb(0 0 0 / 75%);
}
div.third-container {
    display: flex;
    flex-flow: column;
    flex-basis: 33%;
    align-items: center;
    height: 100%;
    justify-content: space-around;
}
div.third-container.player-area:last-child div.cardzone-container, div.third-container.player-area:last-child div.handzone-container  {
    flex-flow: row-reverse wrap;
}

div.button-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    flex-basis: 25%;
    width: 50%;
    justify-self: flex-end;
}
div.button-container div.button {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin: 0.2em;

    font-size: 1.3em;
    color: #FFCC00;
    cursor: default;

    background: #626262;
    border: 1px solid #626262;
    box-shadow: 0px 0px 2px 2px rgb(0 0 0 / 50%);
}
div.button-container div.button:hover {
    background-color: #575757;
}
div.button-container div.button:nth-child(1), div.button-container div.button:nth-child(2) {
    flex-basis: 45%;
}
div.button-container div.button:nth-child(3) {
    flex-basis: 100%;
}

div.label-container div.label {
    font-family: "BankGothic", sans-serif;

    display: flex;
    flex-flow: row;
    justify-content: center; /* Default alignment */
    align-items: center; /* Default alignment */
    height: 1.75em;
    color: #E2E2E2;
    font-size: 1.4em;
}
div.label-container div.label.player-name {
    justify-content: start;
    padding-left: 1em;
}
div.label-container div.label.round-score {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
div.round-counter {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    flex-basis: 30%;
    padding: 0.5em 0;
}
div.label-container div.label, div.round-counter {
    background: #585858;
    border: 1px solid #585858;
    box-shadow: inset 0px 0px 4px 1px rgb(0 0 0 / 25%);
}
div.round-counter div.pip {
    background: #B4B4B4;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25), inset 0px 0px 4px 3px rgba(0, 0, 0, 0.25);

    width: 34px;
    height: 34px;
    border-radius: 17px;
}
div.round-counter div.pip.full {
    background: #DC2525;
}

div.card {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 4.6vw;
    height: 11vh;

    background-color: #CBCBCB;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.3);
    user-select: none;
}
div.card-slot {
    width: 4.5vw;
    height: 11vh;
    background: #858585;
    border: 1px solid #858585;
    box-shadow: inset -2px 0px 4px 2px rgb(0 0 0 / 25%);
    user-select: none;
}

div.card div.upper-box {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    flex-basis: 60%;
    box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
    margin: 0.6em 0.4em 0.3em;
}
div.card div.upper-box div.value-box {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    background-color: #2F2F2F;
    flex-basis: 80%;
    height: 60%;

    color: #E2E2E2;
}
div.card div.upper-box.facedown div.value-box {
    background-color: #4F4F4F;
}
div.card div.lower-box {
    flex-basis: 25%;
    box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
    margin: 0.6em 0.4em 0.3em;
}
div.card div.upper-box.turn, div.card div.lower-box.turn  {background-color: #46762F;}
div.card div.upper-box.positive, div.card div.lower-box.positive {background-color: #2F5476;}
div.card div.upper-box.negative, div.card div.lower-box.negative {background-color: #762F2F;}
div.card div.upper-box.special, div.card div.lower-box.special {background-color: #CAA200;}
div.card div.upper-box.facedown, div.card div.lower-box.facedown {background-color: #666666;}


/* Player Areas */
div.player-area div.cardzone-container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    align-self: center;
    justify-content: flex-end;
}
div.player-area div.cardzone-container div.box {
    display: flex;
    flex-flow: column;
}
div.player-area div.cardzone-container div.box:nth-child(1) {
    flex-basis: 55%;
}
div.player-area div.cardzone-container div.box:nth-child(2) {
    margin-left: 0.5em;
    flex-basis: 7%;
}
div.player-area:last-child div.cardzone-container div.box:nth-child(2) {
    margin: 0 0.5em 0 0;
    flex-basis: 7%;
}
div.player-area div.cardzone-container div.box div.label-container {
    margin-bottom: 0.5em;
}
div.player-area div.cardzone-container div.box div.cardzone {
    flex-basis: 100%;
}

div.player-area div.handzone-container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: flex-end;
}
div.player-area div.handzone-container div.label-container {
    width: 70%;
    margin-bottom: 0.5em;
}

/* Chat/Button Area */
div.third-container.chat-button-area {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

div.chat-button-area .chat-box-container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    flex-basis: 67%;
    width: 50%;
}

/* ChatBox */
div.chat-box {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    width: 100%;
    min-height: 50%;
    height: 50%;
    padding: 0.2em;

    background-color: #1C2A3F;
    border: 1px solid rgba(0, 148, 255, 0.25);
    box-shadow: 0 0 16px 8px rgb(0 148 255 / 25%);
}
div.chat-box div.messages-container {
    display: flex;
    flex-flow: column-reverse; /* For overflow scroll anchoring reasons */
    overflow-y: auto;
}
div.chat-box div.messages-container div.message {
    border: 1px solid rgba(149, 149, 149, 0.5);
    width: fit-content;
    margin-bottom: 0.2em;
    padding: 0.1em;
    color: #E2E2E2;
}
div.chat-box div.messages-container div.message.player {
    background-color: rgba(0, 87, 255, 0.25);
}
div.chat-box div.messages-container div.message.opponent {
    background-color: rgba(255, 0, 0, 0.25);
    align-self: flex-end;
}
div.chat-box div.controls-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
div.chat-box div.controls-container > input {
    flex-basis: 88%;
    background-color: #C4C4C4;
    margin: 0;
    border: 0;
}
div.chat-box div.controls-container div.button-container {
    display: flex;
    flex-flow: row;
    flex-basis: 10%;
}
div.chat-box div.controls-container div.button-container div.chat-button {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(149, 149, 149, 0.5);
    background-color: rgba(31, 47, 71, 0.5);
    flex-grow: 1;
    color: #76BCAA;
}


/* CardZone */
div.cardzone {
    display: flex;
    flex-flow: row wrap;
    width: calc(100% - 1.68em);
    justify-content: space-evenly;
    align-content: space-evenly;
    background: #8D8D8D;
    border: 1px solid #8D8D8D;
    box-shadow: inset 0 0 9px 5px rgb(0 0 0 / 45%);
    padding: 0.8em;
}

/* HandZone */
div.handzone {
    display: flex;
    width: calc(70% - 1em);
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    background: #8D8D8D;
    border: 1px solid #8D8D8D;
    box-shadow: inset 0 0 9px 5px rgb(0 0 0 / 45%);
    padding: 0.5em;
}
div.handzone div.card:hover, div.card.just-played:hover {
    box-shadow: -4px 0px 4px 2px rgb(255 255 255 / 5%);
}
